version: 2
updates:
  # Enable version updates for Cargo
  - package-ecosystem: "cargo"

    directory: "/"

    schedule:
      interval: "daily"

    commit-message:
      prefix: "chore(deps):"

    labels: [dependencies, internal]

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"

    schedule:
      interval: "weekly"

    commit-message:
      prefix: "chore(deps):"

    labels: [dependencies, internal]
